
/** page structure **/
.wrap {
  display: block;
  margin: 0 auto;
  max-width: 800px;
  padding: 0 10px;
}

#content {
  padding: 110px 0;
}
@media screen and (min-width: 721px){
  #header {
    display: flex;
    justify-content: space-between;
    background: #fff;
  }
}
#header img{
  margin: 16px 0px 16px 16px;
}
#header div{
  display: inline-flex;
  pointer-events: auto;
}
#header.closed{
  background: none;
}



.fixed{
  position: fixed;
  z-index: 10;
  right: 0;
  left: 0;
  top: 0;
}

#nav{
  z-index: 2;
}

#main-nav{
  color: #333;
  display: flex;
  margin-right: 10px;
  pointer-events: auto;
}

#main-nav a{
  text-transform: uppercase;
  font-weight: 500;
  color: #bbb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 18px;
  box-sizing: border-box;
  margin-top: 0px;
  border-bottom: solid 0px #fff;
}
#main-nav a.active{
  color: #333;
  margin-top: 3px;
  border-bottom: #fac22b 5px solid;
}
#main-nav a:hover{
  color: #333;
}

#main-nav.closed {
  transform: translate(50px,0px);
  pointer-events: none;
  opacity: 0;
}



/** mobile nav **/
@media screen and (max-width: 720px){
  #header{
    display: block;
    position: fixed;
    top: 0px;
    height: 100vh;
    bottom: 0px;
    background-image: url("../images/bakery-overlay-texture.png");
    opacity: .95;
  }
  #header *{
    transition: 0s;
  }
  #header div{
    width: 100%;
  }
  #main-nav{
    display: flex;
    width: inherit;
    margin: 0px;
    flex-direction: column;
    text-align: center;
  }
  #header.closed {
    height: 100px;
  }
  #main-nav.closed {
    height: 0px;
  }
  #nav{
    position: absolute;
    top: 30px;
    right: 0px;
  }
  #main-nav a, #main-nav a.active{
    border: none;
    margin-top: 5%;
    font-size: 2em;
    pointer-events: none;
  }
  #main-nav a:hover, #main-nav a.active{
    color: #fff;
  }
  .mobile-no-scroll{
    overflow: hidden;
  }
  .mobile-no-scroll #header div, .mobile-no-scroll #header div #main-nav a{
    pointer-events: auto;
  }
}


/** headroom.js animated styles **/
.move{
  -webkit-transition:all .5s ease-in-out;
  -moz-transition:all .5s ease-in-out;
  -o-transition:all .5s ease-in-out;
  transition:all .5s ease-in-out;
}

.move--reset{
  -webkit-transform:translateY(0);
  -ms-transform:translateY(0);
  transform:translateY(0);
}

.move--up{
  -webkit-transform:translateY(-100%);
  -ms-transform:translateY(-100%);
  transform:translateY(-100%);
}


.animated{
  -webkit-animation-duration:.2s;
  -moz-animation-duration:.2s;
  -o-animation-duration:.2s;
  animation-duration:.2s;
  -webkit-animation-fill-mode:both;
  -moz-animation-fill-mode:both;
  -o-animation-fill-mode:both;
  animation-fill-mode:both;
}

@-webkit-keyframes moveDown{
  0%{ -webkit-transform:translateY(-100%)}
  100%{-webkit-transform:translateY(0)}
}
@-moz-keyframes moveDown{
  0%{-moz-transform:translateY(-100%)}
  100%{-moz-transform:translateY(0)}
}
@-o-keyframes moveDown{
  0%{-o-transform:translateY(-100%)}
  100%{-o-transform:translateY(0)}
}
@keyframes moveDown{
  0%{transform:translateY(-100%)}
  100%{transform:translateY(0)}
}

.animated.moveDown{
  -webkit-animation-name:moveDown;
  -moz-animation-name:moveDown;
  -o-animation-name:moveDown;
  animation-name:moveDown;
}
@-webkit-keyframes moveUp{
  0%{-webkit-transform:translateY(0)}
  100%{-webkit-transform:translateY(-100%)}
}

@-moz-keyframes moveUp{
  0%{-moz-transform:translateY(0)}
  100%{-moz-transform:translateY(-100%)}
}

@-o-keyframes moveUp{
  0%{-o-transform:translateY(0)}
  100%{-o-transform:translateY(-100%)}
}
@keyframes moveUp{
  0%{transform:translateY(0)}
  100%{transform:translateY(-100%)}
}

.animated.moveUp{
  -webkit-animation-name:moveUp;
  -moz-animation-name:moveUp;
  -o-animation-name:moveUp;
  animation-name:moveUp;
}

@-webkit-keyframes swingInX{
  0%{-webkit-transform:perspective(400px) rotateX(-90deg)}
  100%{-webkit-transform:perspective(400px) rotateX(0deg)}
}
@-moz-keyframes swingInX{
  0%{-moz-transform:perspective(400px) rotateX(-90deg)}
  100%{-moz-transform:perspective(400px) rotateX(0deg)}
}
@-o-keyframes swingInX{
  0%{-o-transform:perspective(400px) rotateX(-90deg)}
  100%{-o-transform:perspective(400px) rotateX(0deg)}
}
@keyframes swingInX{
  0%{transform:perspective(400px) rotateX(-90deg)}
  100%{transform:perspective(400px) rotateX(0deg)}
}

.animated.swingInX{
  -webkit-transform-origin: top;
  -moz-transform-origin: top;
  -ie-transform-origin: top;
  -o-transform-origin: top;
  transform-origin: top;
  -webkit-backface-visibility:visible !important;
  -webkit-animation-name: swingInX;
  -moz-backface-visibility: visible !important;
  -moz-animation-name: swingInX;
  -o-backface-visibility: visible !important;
  -o-animation-name: swingInX;
  backface-visibility:visible !important;
  animation-name: swingInX;
}

@-webkit-keyframes swingOutX{
  0%{-webkit-transform:perspective(400px) rotateX(0deg)}
  100%{-webkit-transform:perspective(400px) rotateX(-90deg)}
}

@-moz-keyframes swingOutX{
  0%{-moz-transform:perspective(400px) rotateX(0deg)}
  100%{-moz-transform:perspective(400px) rotateX(-90deg)}
}
@-o-keyframes swingOutX{
  0%{-o-transform:perspective(400px) rotateX(0deg)}
  100%{-o-transform:perspective(400px) rotateX(-90deg)}
}
@keyframes swingOutX{
  0%{transform:perspective(400px) rotateX(0deg)}
  100%{transform:perspective(400px) rotateX(-90deg)}
}

.animated.swingOutX{
  -webkit-transform-origin: top;
  -webkit-animation-name: swingOutX;
  -webkit-backface-visibility:visible !important;
  -moz-animation-name: swingOutX;
  -moz-backface-visibility:visible !important;
  -o-animation-name: swingOutX;
  -o-backface-visibility: visible !important;
  animation-name: swingOutX;
  backface-visibility:visible !important}


@-webkit-keyframes flipInX{
  0%{-webkit-transform:perspective(400px) rotateX(90deg);opacity:0}
  100%{-webkit-transform:perspective(400px) rotateX(0deg);opacity:1}
}
@-moz-keyframes flipInX{
  0%{-moz-transform:perspective(400px) rotateX(90deg);opacity:0}
  100%{-moz-transform:perspective(400px) rotateX(0deg);opacity:1}
}
@-o-keyframes flipInX{
  0%{-o-transform:perspective(400px) rotateX(90deg);opacity:0}
  100%{-o-transform:perspective(400px) rotateX(0deg);opacity:1}
}
@keyframes flipInX{
  0%{transform:perspective(400px) rotateX(90deg);opacity:0}
  100%{transform:perspective(400px) rotateX(0deg);opacity:1}
}

.animated.flipInX{
  -webkit-backface-visibility:visible !important;
  -webkit-animation-name: flipInX;
  -moz-backface-visibility: visible !important;
  -moz-animation-name: flipInX;
  -o-backface-visibility: visible !important;
  -o-animation-name: flipInX;
  backface-visibility: visible !important;
  animation-name: flipInX;
}

@-webkit-keyframes flipOutX{
  0%{-webkit-transform:perspective(400px) rotateX(0deg);opacity:1}
  100%{-webkit-transform:perspective(400px) rotateX(90deg);opacity:0}
}
@-moz-keyframes flipOutX{
  0%{-moz-transform:perspective(400px) rotateX(0deg);opacity:1}
  100%{-moz-transform:perspective(400px) rotateX(90deg);opacity:0}
}
@-o-keyframes flipOutX{
  0%{-o-transform:perspective(400px) rotateX(0deg);opacity:1}
  100%{-o-transform:perspective(400px) rotateX(90deg);opacity:0}
}
@keyframes flipOutX{
  0%{transform:perspective(400px) rotateX(0deg);opacity:1}
  100%{transform:perspective(400px) rotateX(90deg);opacity:0}
}

.animated.flipOutX{
  -webkit-animation-name: flipOutX;
  -webkit-backface-visibility: visible !important;
  -moz-animation-name: flipOutX;
  -moz-backface-visibility: visible !important;
  -o-animation-name: flipOutX;
  -o-backface-visibility: visible !important;
  animation-name: flipOutX;
  backface-visibility: visible !important;
}

@-webkit-keyframes bounceInDown{0%{opacity:0;-webkit-transform:translateY(-200px)}60%{opacity:1;-webkit-transform:translateY(30px)}80%{-webkit-transform:translateY(-10px)}100%{-webkit-transform:translateY(0)}}

@-moz-keyframes bounceInDown{0%{opacity:0;-moz-transform:translateY(-200px)}60%{opacity:1;-moz-transform:translateY(30px)}80%{-moz-transform:translateY(-10px)}100%{-moz-transform:translateY(0)}}

@-o-keyframes bounceInDown{0%{opacity:0;-o-transform:translateY(-200px)}60%{opacity:1;-o-transform:translateY(30px)}80%{-o-transform:translateY(-10px)}100%{-o-transform:translateY(0)}}

@keyframes bounceInDown{0%{opacity:0;transform:translateY(-200px)}60%{opacity:1;transform:translateY(30px)}80%{transform:translateY(-10px)}100%{transform:translateY(0)}}

.animated.bounceInDown{
  -webkit-animation-name:bounceInDown;
  -moz-animation-name:bounceInDown;
  -o-animation-name:bounceInDown;
  animation-name:bounceInDown;
}
@-webkit-keyframes bounceOutUp{
  0%{-webkit-transform:translateY(0)}
  30%{opacity:1;-webkit-transform:translateY(20px)}
  100%{opacity:0;-webkit-transform:translateY(-200px)}
}
@-moz-keyframes bounceOutUp{
  0%{-moz-transform:translateY(0)}
  30%{opacity:1;-moz-transform:translateY(20px)}
  100%{opacity:0;-moz-transform:translateY(-200px)}
}
@-o-keyframes bounceOutUp{
  0%{-o-transform:translateY(0)}
  30%{opacity:1;-o-transform:translateY(20px)}
  100%{opacity:0;-o-transform:translateY(-200px)}
}
@keyframes bounceOutUp{
  0%{transform:translateY(0)}
  30%{opacity:1;transform:translateY(20px)}
  100%{opacity:0;transform:translateY(-200px)}
}

.animated.bounceOutUp{
  -webkit-animation-name:bounceOutUp;
  -moz-animation-name:bounceOutUp;
  -o-animation-name:bounceOutUp;
  animation-name:bounceOutUp;
}























.tcon {
  appearance: none;
  border: none;
  cursor: pointer;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  transition: 0.2s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 30px;
  background: transparent;
  outline: none; }
  .tcon > * {
    display: block; }
  .tcon:hover, .tcon:focus {
    outline: none; }
  .tcon::-moz-focus-inner {
    border: 0; }

.tcon-menu__lines {
  display: inline-block;
  width: 30px;
  border-radius: 1.5px;
  transition: 0.2s;
  background: #fac22b;
  position: relative; }
  .tcon-menu__lines::before, .tcon-menu__lines::after {
    display: inline-block;
    height: 3px;
    width: 30px;
    border-radius: 1.5px;
    transition: 0.2s;
    background: #fac22b;
    content: '';
    position: absolute;
    left: 0;
    -webkit-transform-origin: 2.85714px center;
    transform-origin: 2.85714px center;
    width: 100%; }
  .tcon-menu__lines::before {
    top: 5px; }
  .tcon-menu__lines::after {
    top: -10px; }



.tcon-menu--xbutterfly {
  width: auto;
  padding-right: 15px;}
  .tcon-menu--xbutterfly .tcon-menu__lines::before, .tcon-menu--xbutterfly .tcon-menu__lines::after {
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    transition: top .2s .2s ease, -webkit-transform .2s ease;
    transition: top .2s .2s ease, transform .2s ease; }
  .tcon-menu--xbutterfly.closed .tcon-menu__lines {
    background: transparent; }
    .tcon-menu--xbutterfly.closed .tcon-menu__lines::before, .tcon-menu--xbutterfly.closed .tcon-menu__lines::after {
      top: 0;
      transition: background .5s;
      transition: top .2s ease, -webkit-transform .2s .2s ease;
      transition: top .2s ease, transform .2s .2s ease;
      background: #bbb;
      width: 30px; }
    .tcon-menu--xbutterfly.closed:hover .tcon-menu__lines::before, .tcon-menu--xbutterfly.closed:hover .tcon-menu__lines::after {
      background: #333;
    }
    @media screen and (max-width: 720px){
      .tcon-menu--xbutterfly.closed:hover .tcon-menu__lines::before, .tcon-menu--xbutterfly.closed:hover .tcon-menu__lines::after{
        background: #fac22b;
      }
    }
    .tcon-menu--xbutterfly.closed .tcon-menu__lines::before {
      -webkit-transform: rotate3d(0, 0, 1, 45deg);
      transform: rotate3d(0, 0, 1, 45deg); }
    .tcon-menu--xbutterfly.closed .tcon-menu__lines::after {
      -webkit-transform: rotate3d(0, 0, 1, -45deg);
      transform: rotate3d(0, 0, 1, -45deg); }

.tcon-visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }
  .tcon-visuallyhidden:closed, .tcon-visuallyhidden:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto; }
