.slide-video-bg {
	position: fixed;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	background-size: cover;
	pointer-events: none;
	z-index: -100;
}
@media screen and (max-device-width: 720px){
	.slide-video-bg{
		display: none;
	}
	.home-slide{
		opacity: .5;
		background-size: cover;
		background-position: center;
	}
	#home-slide-calendario{
		background-image: url("../images/home-bg-01.JPG");
	}
	#home-slide-elrey{
		background-image: url("../images/home-bg-02.JPG");
	}
	#home-slide-valentines{
		background-image: url("../images/home-bg-03.JPG");
	}
}
.slider{
	height: 100vh;
	z-index: -2000;
}
.slides{
	height: inherit;
}
.slide{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    right: 0px;
    background-size: cover;
    background-position: center right;
    background-repeat: none;
    opacity: 0;
    overflow: hidden;
    z-index: 0;
	-webkit-backface-visibility: hidden;
    -webkit-animation: slideAnimation 18s linear infinite 0s;
    -moz-animation: slideAnimation 18s linear infinite 0s;
    -o-animation: slideAnimation 18s linear infinite 0s;
    -ms-animation: slideAnimation 18s linear infinite 0s;
    animation: slideAnimation 18s linear infinite 0s;
}
.no-animation{
	animation: none;
	opacity: 1;
}
.slide-content-container{
	position: fixed;
	display: flex;
	justify-content: center;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	background-size: cover;
}
.slide-content{
	display: flex;
    flex-direction: column;
    justify-content: center;
}
.slide-type {
	width: 832px;
	height: 248px;
	opacity: 0;
	background-image: url(../images/visceral-animation.png);
	background-size: cover;
	background-repeat: no-repeat;
    -webkit-animation: titleAnimation 9s steps(31, end) 0s infinite;
    -moz-animation: titleAnimation 9s steps(31, end) 0s infinite;
    -o-animation: titleAnimation 9s steps(31, end) 0s infinite;
    -ms-animation: titleAnimation 9s steps(31, end) 0s infinite;
    animation: titleAnimation 9s steps(31, end) 0s infinite;
}
.slide-client{
	opacity: 0;
	-webkit-animation: clientAnimation 9s infinite;
    -moz-animation: clientAnimation 9s infinite;
    -o-animation: clientAnimation 9s infinite;
    -ms-animation: clientAnimation 9s infinite;
    animation: clientAnimation 9s infinite;
}
.slide-button{
	opacity: 0;
	margin-top: 75px;
	-webkit-animation: slide-buttonAnimation 9s infinite;
    -moz-animation: slide-buttonAnimation 9s infinite;
    -o-animation: slide-buttonAnimation 9s infinite;
    -ms-animation: slide-buttonAnimation 9s infinite;
    animation: slide-buttonAnimation 9s infinite;
}
@media screen and (max-width: 1080px){
	.slide-client{
		margin-left: 80px;
    	margin-bottom: -30px;
	}
	.slide-type{
		transform: scale(.8);
	}
}
@media screen and (max-width: 720px){
	.slide-client{
		margin-left: 210px;
    	margin-bottom: -70px;
	}
	.slide-type{
		transform: scale(.5);
	}
	.slide-buttom{
		margin-top: 0px;
	}
}
@media screen and (max-device-width: 600px){
	.slide-client{
		font-size: 1em;
		margin: 0px;
	}
	.slide-type{
		transform: scale(1);
		width: 250px; 
		height: 74px;
		background-image: url(../images/visceral-animation-mobile.png);
		-webkit-animation: titleAnimationMobile 9s steps(31) 0s infinite;
		-moz-animation: titleAnimationMobile 9s steps(31) 0s infinite;
		-o-animation: titleAnimationMobile 9s steps(31) 0s infinite;
		-ms-animation: titleAnimationMobile 9s steps(31) 0s infinite;
		animation: titleAnimationMobile 9s steps(31) 0s infinite;
	}
	.slide-button{
		margin-top: 50px;
	}
	.button{
		background: none;
	}
}



#scroll-down-hold div{
	display: flex;
	flex-direction: column;
}
.icon-arrow-down{
	animation-name: flashPause;
	animation-iteration-count: infinite;
	animation-duration: 2s;
}
#icon-arrow-down-01{
	animation-delay: 0s;
}
#icon-arrow-down-02{
	animation-delay: .1s;
}
#icon-arrow-down-03{
	animation-delay: .2s;
}
.icon-arrow-down:before {
	content: "\e600";
	color: #fff;
}




#home-slide-elrey, #home-client-elrey{
	animation-delay: 6s;
}
#home-slide-valentines, #home-client-valentines{
	animation-delay: 12s;
}



#slide-button-calendario{
	border-color: #0f4c8c;
	background-image: linear-gradient(to bottom, rgba(255, 205, 51, 0) 50%, #0f4c8c 50%);
}


#slide-button-elrey{
	border-color: #f7ab17;
	background-image: linear-gradient(to bottom, rgba(255, 205, 51, 0) 50%, #f7ab17 50%);
	animation-delay: 6s;
}


#slide-button-valentines{
	border-color: #eb5c5c;
	background-image: linear-gradient(to bottom, rgba(255, 205, 51, 0) 50%, #eb5c5c 50%);
	animation-delay: 12s;
}







#home-slide-type-calendario{
	width: 700px;
	height: 112px;
	background-image: url(../images/calendario/calendario-animation.png);
    animation: titleAnimation 9s steps(34, end) 0s infinite;
}
#home-slide-type-elrey{
	width: 892px;
	height: 248px;
	background-image: url(../images/elrey/elrey-animation.png);
    animation: titleAnimation 9s steps(47, end) 0s infinite;
    animation-delay: 6s;
}
#home-slide-type-valentines{
	width: 855px;
	height: 248px;
	background-image: url(../images/valentines-animation-home.png);
    animation: titleAnimation 9s steps(43, end) 0s infinite;
    animation-delay: 12s;
}







#slide-type-about{
	width: 699px;
	height: 386px;
	background-image: url(../images/about/about-animation.png);
    animation: titleaboutanimation 2s steps(48, end) 0s 1;
    animation-fill-mode: both;
}
#slide-type-contact {
    width: 766px;
    height: 248px;
    background-image: url(../images/contact/contact-animation.png);
    animation: titleOnceAnimation 2s steps(39, end) 0s 1;
    animation-fill-mode: both;
}
#slide-type-careers{
	width: 863px;
	height: 112px;
	background-image: url(../images/careers/careers-animation.png);
    animation: titleOnceAnimation 1.7s steps(31, end) 0s 1;
    animation-fill-mode: both;
}
#slide-type-team{
	width: 977px;
	height: 112px;
	background-image: url(../images/team/team-animation.png);
    animation: titleOnceAnimation 1.7s steps(39, end) 0s 1;
    animation-fill-mode: both;
}
#slide-type-about{
	width: 699px;
	height: 386px;
	background-image: url(../images/about/about-animation.png);
    animation: titleOnceAnimation 2s steps(48, end) 0s 1;
    animation-fill-mode: both;
}
#slide-type-valentines{
	width: 855px;
	height: 248px;
	background-image: url(../images/valentines/valentines-animation.png);
    animation: titleOnceAnimation 2s steps(43, end) 0s 1;
    animation-fill-mode: both;
}
#slide-type-elrey{
	width: 892px;
	height: 248px;
	background-image: url(../images/elrey/elrey-animation.png);
    animation: titleOnceAnimation 2s steps(47, end) 0s 1;
    animation-fill-mode: both;
}
#slide-type-arcade{
	width: 689px;
	height: 248px;
	background-image: url(../images/aracde-animation.png);
    animation: titleOnceAnimation 2s steps(22, end) 0s 1;
    animation-fill-mode: both;
}
#slide-type-calendario{
	width: 700px;
	height: 112px;
	background-image: url(../images/calendario/calendario-animation.png);
    animation: titleOnceAnimation 2s steps(34, end) 0s 1;
    animation-fill-mode: both;
}
#slide-type-montejo{
    width: 596px;
    height: 136px;
    margin-top: -30px;
	background-image: url(../images/montejo/montejo-animation.png);
    animation: titleOnceAnimation 1.5s steps(25, end) 0s 1;
    animation-fill-mode: both;
}
#slide-type-phocrastinate{
	width: 1009px;
	height: 248px;
	background-image: url(../images/phocrastinate/phocrastinate-animation.png);
    animation: titleOnceAnimation 2s steps(47, end) 0s 1;
    animation-fill-mode: both;
}




@keyframes titleOnceAnimation {
	0% {
		opacity: 1; 
		background-position: 0% 0%;
	}


	100% {
		opacity: 1; 
		background-position: 100% 0%;
	}
}
@keyframes slideAnimation { 
	0% {
	    opacity: 1;
	    width: 100%;
	    z-index: 1;
	}
	16% {
	    opacity: 1;
	    width: 100%;
	    z-index: 2;
	}
	33% {
	    opacity: 1;
	    width: 100%;
	    z-index: 2;
	}
	37% {
		opacity: 1;
		width: 0%;
		z-index: 2;
	}
	39% {
		opacity: 0;
		width: 0%;

	}
	44% {
	    opacity: 0;
	    width: 100%;
	    z-index: 2;
	}
	100% { 
		opacity: 0;
		z-index: 1;
	}
}



@keyframes titleAnimation { 
	0% {
		opacity: 0; 
		background-position: 0%;
	}
	4% {
		opacity: 0; 
		background-position: 0%;
	}
	5% {
		opacity: 1; 
	
	}
	20% { background-position: 100%; }
	100% {
		opacity: 1; 
		background-position: 100%;
	}
}
@keyframes titleAnimationMobile { 
	0% {
		opacity: 0; 
		background-position: -7750px
	}
	4% {
		opacity: 0; 
		background-position: -7750px
	}
	5% {
		opacity: 1; 
	
	}
	20% { background-position: 0px; }
	100% {
		opacity: 1; 
		background-position: 0px;
	}
}
@keyframes clientAnimation {
	0% {
		opacity: 0; 
		transform: translate(100px, 0px)
	}
	8% {
		opacity: 0; 
		transform: translate(100px, 0px)
	}
	18% {
		opacity: 1; 
		transform: translate(0px, 0px)
	
	}
	100% {
		opacity: 1; 
		transform: translate(0px, 0px)
	}
}
@keyframes slide-buttonAnimation {
	0% {
		opacity: 0; 
		transform: translate(0px, 50px)
	}
	18% {
		opacity: 0; 
		transform: translate(0px, 50px)
	}
	25% {
		opacity: 1; 
		transform: translate(0px, 0px)
	
	}
	100% {
		opacity: 1; 
		transform: translate(0px, 0px)
	}
}
/* Show at least something when animations not supported */
.no-cssanimations #slides li span{
	opacity: 1;
}
@media screen and (max-width: 1140px) { 
	#home-slides li div h3 { font-size: 100px }
}
@media screen and (max-width: 600px) { 
	#home-slides li div h3 { font-size: 50px }
}












.animate-once{
	animation-iteration-count: 1;
	animation-fill-mode: both;
}